<div class="modal">
  <div class="modal__container">
    <div class="modal__title">
      <h5 class="modal__bascket-name">Корзина</h5>
    </div>
    <div class="list">
      <div class="list__container">
        <div class="list__item">
          <div class="list__ul">
            <div>
              <span>товар</span>
            </div>
            <div>
              <span>количество</span>
            </div>
            <div>
              <span>цена за штуку</span>
            </div>
          </div>
        </div>
        <div class="list__product" id="list-product">
          <ng-container *ngFor="let product of _listProductsInCart.values() ;trackBy: _trackBy">
            <app-product-line [product]="product" (onProductChange)="changeProduct($event)" (onProductDelete)="deleteProduct($event)"></app-product-line>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="modal__btn-container">
      <button class="modal__btn-buy">купить сейчас</button>
      <button class="modal__btn-drop" (click)="dropCart()">очистить корзину</button>
      <button class="modal__btn-close" (click)="closeCart()">выйти</button>
    </div>
  </div>
</div>


