<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__call">
        <h5 class="footer__call-text">обратная связь</h5>
      </div>
      <div class="footer__logo">
        <a class="footer__logo-social" href="#"><img src="../../../assets/img/icon/facebook-logo.png" alt="fb"></a>
        <a class="footer__logo-social" href="#"><img src="../../../assets/img/icon/twitter.png" alt="tw"></a>
        <a class="footer__logo-social" href="#"><img src="../../../assets/img/icon/vk.png" alt="vk"></a>
      </div>
    </div>
  </div>
</footer>
