<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <span><span class="header__logo-color-grey">Techno</span><span class="header__logo-color-white">Point</span></span>
      </div>
      <div class="header__nav">
        <div class="btn_nav">
          <input type="search" placeholder="search" class="header__search">
        </div>
        <div class="header__btn btn_hide">
          <a class="icon" href="#"><img class="img-nav" src="../../../assets/img/icon/like.png" alt="like"></a>
        </div>
        <div class="header__btn btn_hide">
          <a class="icon" href="#"><img class="img-nav" src="../../../assets/img/icon/mail.png" alt="mail"></a>
        </div>

        <div class="header__btn open-cart">
          <a class="icon" href="#"><img class="img-nav" src="../../../assets/img/icon/basket.png" alt="basket"></a>
        </div>
        <div class="body-counter" id="body-counter">

        </div>
        <div class="header__btn btn_hide">
          <a class="icon" href="#"><img class="img-nav" src="../../../assets/img/icon/logout.png" alt="logout"></a>
        </div>

        <div class="header__btn burger-nav">
          <a class="icon" href="#"><img class="img-nav" src="../../../assets/img/icon/burger.png" alt="logout"></a>
        </div>
      </div>
    </div>
  </div>
</header>

