<div class="modal">
  <div class="modal__container">
    <div class="modal__title">
      <h5 class="modal__bascket-name">Корзина</h5>
    </div>
    <div class="list">
      <div class="list__container">
        <div class="list__item">
          <div class="list__ul">
            <div>
              <span>товар</span>
            </div>
            <div>
              <span>количество</span>
            </div>
            <div>
              <span>цена за штуку</span>
            </div>
          </div>
        </div>
        <div class="list__product" id="list-product">

        </div>
      </div>
    </div>
    <div class="modal__btn-container">
      <button class="modal__btn-buy">купить сейчас</button>
      <button class="modal__btn-drop">очистить корзину</button>
      <button class="modal__btn-close">выйти</button>
    </div>
  </div>
</div>
