<main>
  <div class="container container-main">
    <div class="container-box">
      <div class="container__main-img">
        <a href="#"><img src="../../../assets/img/333.PNG" alt="sss"></a>
      </div>
      <div class="container__staff">
        <div class="staff">

          <div *ngFor="let product of generalCatalog" class="staff__item">
            <a routerLink="/products/{{product.id}}"><img class="staff__icon" src="../../../assets/img/img-phone/xsBlack.png" alt=""></a>
            <h4 class="staff__title">{{product.name}}</h4>
            <h3 class="staff__price">{{product.price | currency : currentCurrency}}</h3>
            <div class="staff__icon-trash">
              <button (click)="addToCart(product.id)" class="staff__btn-add btn-plus">
                <img class="staff__trash-img" src="../../../assets/img/icon/bascket1.png" alt="">
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

